# .env
.env

# MySQL Data (dikelola oleh Docker Volume, bukan git)
mysql_data/

# Docker files (konfigurasi deployment)
docker-compose.yml
Dockerfile
.dockerignore

# Git and IDE
.git/
.vscode/

# Environment specific
.env.example